/* Generale per azzerare le impostazioni browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Margini corpo centrale */

main, footer{
    margin:0 15%;
}

/* Inizio opzioni specifiche */

/* Parte Iniziale */

header{
    background-size: 30%;
    background-image: url(./img/pattern.png);
    background-color: blue;
    position: relative;
    height: 100px;
}


#logoboolean{
    height: 50px;
    border-bottom: 10px;
    position: absolute;
    bottom: 1px;
}

/* Parte centrale */

h1{
    font-size: 45px;
}

section{
    margin-top: 30px;
}

#Blue{
    color: blue;
}

.note{
    font-size: 10px;
}

ul{
    margin: 1em;
}

thead{
    background-color: blue;
    color: white;
}

.spazio{
    width: 30%;
}

.colore{
    background-color: lightblue;
}

/* Finale con foto */

footer{
    margin-top: 50px;
}