*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-size: 30%;
    background-image: url(./img/pattern.png);
    background-color: blue;
    position: relative;
    height: 100px;
}

#logoboolean{
    height: 50px;
    border-bottom: 10px;
    position: absolute;
    bottom: 1px;
}

h1{
    font-size: 50px;
}

section{
    margin-top: 10px;
}

#Blue{
    color: blue;
}

.note{
    font-size: 10px;
}